/*
Collects definitions of colors and the like to achieve a consistent layout.
*/


:root {

    --author: "Prof. Dr. Michael Eichberg";

    --slide-background-color: rgb(255, 255, 255);

    /* Coporate design related colors and images: */
    --ld-dhbw-red: rgb(226, 0, 26);/* red used by the DHBW Logo */    
    --ld-dhbw-gray:  rgb(91,105,113);/* gray used by the text in the DHBW Logo */
    --ld-dhbw-light-gray: rgb(222,226,228); /* as found in some brochures */
    --ld-dhbw-logo: url(dhbw_logo.png);


    /* Colors that fit nicely to the colors of the corporate design: */
    --ld-the-blue: rgb(45, 62, 255);
    --ld-the-yellow: #ff1;
    --ld-the-green: rgb(0, 88, 0);

    /* Other colors */
    --ld-red: rgb(131, 0, 0);
    --ld-the-light-green: rgb(0, 88, 0, 0.1);
    --ld-red-background: rgb(131, 0, 0, 0.1);

    /* Sizes, Margins, etc. */
    --ld-li-margin-top: 0.5em;

    --standard-shadow: 4px 4px 8px black;
}


