/* Theming of LectureDoc controls and configuration of the most basic assumptions. */

:root {
    /*  48px to have roughly 16 lines of text on a slide with a height of 1200px. */
    font: 48px "Helvetica", sans-serif;
    line-height: 1.5;
    /* Primarily for debugging purposes!*/
    background-color: rgb(125, 125, 125); 

    --body-background-color: rgb(25, 25, 30);
}



body {
    background-color: var(--body-background-color); 
}



/* common styling of all dialogs */
.ld-dialog {
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 2px 2px 3px black,  -2px -2px 3px black,  -2px 2px 3px black,  2px -2px 3px black;            
    border-radius: 10px;
    margin: auto;
}



/* z-index: 1000 */
#ld-help {
    /* used by ld: display, opacity, z-index, position, transition */
    font-size: 14px;
    color: white;
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: scroll;
}

#ld-help p {
    margin-top: 9px;
}

#ld-help :is(a:link,  a:visited) {
    color:rgb(255, 173, 96)
}

#ld-help table {
    width: 100%;
    border: 1px solid gray;
    background-color: rgba(0,0,0,0.5);
    border-spacing: 20px 10px;
    border-radius: 10px;
    box-shadow: none;
}

#ld-help th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#ld-help tr.ld-help-keys-category {
    font-weight: 900;
    text-align: center;
    background-color: rgba(125, 125, 125,0.25);
    color:whitesmoke;
}


#ld-jump-target-dialog {
    font-size: 18px;
    color: white;
    padding: 10px;
}

#ld-light-table-dialog {
    height: 90vh;
    width: 90vw;
}

#ld-light-table-header,
#ld-light-table-footer {
    display: flex;
    width: 100%;
    height: 42px;
    padding: 10px;
    font-size: 14px;
    color: whitesmoke;
    background-color: rgb(27, 26, 26);
}

#ld-light-table-header > div{
    padding-left: 0.25em;
    padding-right: 0.25em;
}

#ld-light-table-slides-count {
    flex-grow: 0;
}

#ld-light-table-search {
    flex-grow: 2;
    text-align: right;
}

#ld-light-table-search-input {
    max-width: 100%;
    border-radius: 0.2em;
    padding-left: 0.25em;
    padding-right: 0.25em;
    margin-right: 10px;
}

#ld-light-table-zoom {
    flex-grow: 1;
    text-align: right;
}
#ld-light-table-zoom-slider {
    float:right;
}
#ld-light-table-close {
    width: 22px;
    text-align: center;
    border-radius: 0.2em;
}
#ld-light-table-close-button {
    background-color: rgb(27, 26, 26);
    color: white;
}
#ld-light-table-close:hover #ld-light-table-close-button {
    background-color: white;
    color:  rgb(27, 26, 26);
}
#ld-light-table-close:hover {
    background-color: white;
    color: rgb(27, 26, 26);
}   

#ld-light-table-header-stretch {
    width: 100%;

}

#ld-light-table-slides {
    padding: 10px;
    gap: 10px;
}

.ld-light-table-slide-overlay:hover {
    opacity: 0;
}

.ld-light-table-slide-overlay {
    background-color: rgba(0, 0, 0, 0.33);
    opacity: 1;
    transition: opacity 333ms ease-in;
}


.ld-continuous-view-slide-pane,
#ld-continuous-view-pane aside.admonition.supplemental {
    border-bottom: 3px solid var(--body-background-color);
}

:is(#ld-main-pane, #ld-light-table) aside.admonition.supplemental {
    border-radius: 1em 0 0 1em;
}

:is(#ld-main-pane, #ld-light-table) aside.admonition.supplemental {
    font-size: 36px;
    background-color: #333;
}

#ld-continuous-view-pane aside.admonition.supplemental {
    background-color: rgb(232, 232, 232);
    font-size: 18px;
    margin-top: -3px; /* to override the border-bottom of the slide*/
    color: #333;
    margin-bottom: 3px;
}

.ld-continuous-view-slide-number {
    bottom: 0px;
    right: 5px;
    font-size: 18px;
    color: rgb(25, 25, 25);
    text-shadow: 1px 1px 1px white;
}

#ld-message-box {
    padding: 0.5rem;
    top: 1rem;
    color: black;
    margin: auto;
    background-color: rgb(193, 242, 69);
    box-shadow: 4px 4px 8px black;
    border-radius: 0.5em;
    font-size: 36px;
    border: 0;
}

#ld-slide-number-pane {
    /* set by core: display: none <-> table */
    position: fixed; 
    bottom: 0px; 
    right: 0px; 
    height: 50px;
    width: 50px;
    font-size: 24px; 
    text-shadow: 1px 1px 1px white; 
}

#ld-slide-number {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}


