/* Theming of LectureDoc controls and configuration of the most basic assumptions. */


:root {
    /*  48px to have roughly 16 lines of text on a slide with a height of 1200px. */
    font: 48px "Helvetica", sans-serif;
    line-height: 1.5;
    /* Primarily for debugging purposes!*/
    background-color: rgb(125, 125, 125); 
}

body {
    background-color: rgb(25, 25, 30); 
}

/* common styling of all dialogs */
.ld-dialog {
    background-color: rgba(30, 30, 30, 0.9);
    box-shadow: 2px 2px 3px black,  -2px -2px 3px black,  -2px 2px 3px black,  2px -2px 3px black;            
    border-radius: 10px;
    margin: auto;
}

/* z-index: 1000 */
#ld-help {
    /* used by ld: display, opacity, z-index, position, transition */
    font-size: 14px;
    color: white;
    min-width: 45vw;
    max-width: 75vw;
    max-height: 75vh;
    padding: 1em;
    overflow-y: scroll;
    overflow-x: scroll;
}

#ld-help p {
    margin-top: 9px;
}

#ld-help :is(a:link,  a:visited) {
    color:rgb(255, 173, 96)
}

#ld-help table {
    width: 100%;
    border: 1px solid gray;
    background-color: black;
    border-spacing: 20px 10px;
    border-radius: 10px;
}

#ld-help th {
    border-bottom: 1px solid gray;
    text-align: left;
}

#ld-jump-target-dialog {
    font-size: 18px;
    color: white;
    padding: 10px;
}

#ld-light-table-dialog {
    z-index: 100;
    height: 90vh;
    width: 90vw;
}

#ld-light-table-header {
    font-size: 12px;
    color: white;
    padding: 10px;
    width: 100%;
    background-color: rgb(27, 26, 26);
}

#ld-light-table-slides {
    padding: 10px;
    gap: 10px;
}

#ld-light-table-zoom {
    display:block;
    position: absolute;
    top: 10px;
    right: 10px;
}

.ld-light-table-slide-overlay:hover {
    opacity: 0;
}

.ld-light-table-slide-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: opacity 333ms ease-in;
}
