/* LAYER: ui.element */

#ld-exercises-passwords-dialog {
    min-width: 400px;
    min-height: 200px;
    max-height: 90vh;
}

#ld-exercises-passwords-content {
    margin: 0.5em;
    padding: 0;
    color: var(--ld-ui-color);
    overflow-y: scroll;


    input.passwords {
        width: 100%;
        border: 1px solid var(--dhbw-light-gray);
        padding: 0.5em;
        border-radius: 5px;
        margin-top: 0.5em;
        margin-bottom: 0.5em;
    }

    table {
        width: 100%;
        height: fit-content;
        border-collapse: collapse;

        td {
            margin: 1em;
            padding: 0.5em;
        }
        
        tr:has(+ tr) {
            td {
                border-bottom: 1px solid var(--ld-ui-border-color);
            }
        }   
    }

    .ld-unlock-global {
        background-image: url('icons/lock-global.svg');
        background-size: 15px 22px;
        width: 15px;
        height: 22px;

        &:hover {
            background-image: url('icons/unlock-global.svg');
            background-size: 15px 22px;
            width: 15px;
            height: 22px;
        }
    }
}