/* LAYER: theme.ld */

:root {
    /* 
    
        Definition of all used colors. 
        
    */
    --white: rgb(255 255 255);
    --very-very-light-gray: rgb(250 250 250);
    --very-light-gray: rgb(242 242 242);
    --light-gray: rgb(222 226 228);
    --semi-light-gray: rgb(184 186 188);
    --gray: rgb(91 105 113);
    --dark-gray: rgb(51 65 73);
    --black: rgb(0 0 0);

    --very-light-green: rgb(245 255 225);
    --shiny-green: rgb(0 255 0);
    --light-green: rgb(0 200 0);
    --green: rgb(0 150 0);
    --dark-green: rgb(0 88 0);
    --light-transparent-green: rgb(0 88 0 / 10%);

    --very-very-light-blue: rgb(245 245 255);
    --very-light-blue: rgb(235 236 247);
    --light-blue: rgb(165 172 255);
    --blue: rgb(45 62 255);
    --dark-blue: rgb(32 42 151);

    --very-light-yellow: rgb(255 255 215);
    --light-yellow: rgb(251, 251, 136);
    --yellow: #ff1;
    --dark-yellow: rgb(255 230 64);

    --light-orange: rgb(252 202 151);
    --orange: rgb(255 128 0);
    --dark-orange: rgb(205 102 0);

    --very-light-red: rgb(255 178 178);
    --light-red: rgb(255 158 158);
    --shiny-red: rgb(255 0 0);
    --red: rgb(226 0 26);
    --dark-red: rgb(140 0 17);
    --light-transparent-red: rgb(131 0 0 / 10%);

    /* 

        Definition of the color scheme.

        The default color scheme is the light scheme. 
        
    */

    --bg-color: var(--white);
    --fg-color: var(--black);
    --border-color: var(--light-gray);

    /* The idea is that we just have to set the background color and 
       the related colors are computed based on that color.  */
    .admonition {
        --container-header-bg-color: var(--light-gray);
        --container-header-icon-bg-color: var(--dark-gray);
        --container-header-fg-color: var(--dark-gray);
        --container-header-icon-fg-color: var(--white);
        --container-header-text-shadow-color: var(--white);
    }

    --error-bg-color: var(--very-light-red);
    --warning-bg-color: var(--light-red);
    --warning-fg-color: var(--white);
    .error {
        --current-bg-color: var(--error-bg-color);
    }
    .warning {
        --current-bg-color: var(--warning-bg-color);
        --current-fg-color: var(--warning-fg-color);
    }
    .error,
    .warning {
        --container-header-bg-color: var(--light-red);
        --container-header-icon-bg-color: var(--dark-red);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--black);
    }

    --important-bg-color: var(--very-light-red);
    .important {
        --current-bg-color: var(--important-bg-color);
        --container-header-bg-color: var(--light-red);
        --container-header-icon-bg-color: var(--dark-red);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--black);
    }

    --attention-bg-color: var(--light-orange);
    .attention {
        --current-bg-color: var(--attention-bg-color);
        --container-header-bg-color: var(--dark-orange);
        --container-header-icon-bg-color: var(--orange);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--black);
    }

    --tip-bg-color: var(--very-light-green);
    .tip {
        --current-bg-color: var(--tip-bg-color);
        --container-header-bg-color: var(--light-green);
        --container-header-icon-bg-color: var(--dark-green);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--dark-gray);
    }

    --hint-bg-color: var(--very-light-green);
    .hint {
        --current-bg-color: var(--tip-bg-color);
        --container-header-bg-color: var(--dark-green);
        --container-header-icon-bg-color: var(--light-green);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--dark-gray);
    }

    --example-bg-color: var(--very-light-yellow);
    .example {
        --current-bg-color: var(--example-bg-color);
        --container-header-bg-color: var(--light-yellow);
        --container-header-icon-bg-color: var(--dark-yellow);
        --container-header-fg-color: var(--dark-gray);
        --container-header-text-shadow-color: var(--white);
    }

    --question-bg-color: var(--very-light-blue);
    --answer-bg-color: var(--very-light-blue);
    .answer,
    .question {
        --current-bg-color: var(--question-bg-color);
        --container-header-bg-color: var(--light-blue);
        --container-header-icon-bg-color: var(--dark-blue);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--dark-gray);
    }

    --observation-bg-color: var(--very-very-light-blue);
    .observation {
        --current-bg-color: var(--observation-bg-color);
        --container-header-bg-color: var(--very-light-blue);
        --container-header-icon-bg-color: var(--light-blue);
        --container-header-fg-color: var(--dark-gray);
        --container-header-text-shadow-color: var(--white);
    }

    --deprecated-bg-color: var(--very-light-gray);
    .deprecated {
        --current-bg-color: var(--deprecated-bg-color);
        --container-header-bg-color: var(--light-gray);
        --container-header-fg-color: var(--white);
        --container-header-text-shadow-color: var(--dark-gray);
    }

    /* 
    
        Definition of the "current" colors for color based computations.

        Whenever possible/necessary, we try to compute contrast colors based 
        on the current background color to facilitate theming.

    */

    /*  This defines the current primary background and foreground color 
        for the entire document. */
    --current-bg-color: var(--bg-color);
    --current-fg-color: var(--fg-color);

    /*  This defines the current effective background and foreground colors 
        for the entire document. In most cases these colors are identical to
        --current-bg-color and --current-fg-color; however, in some cases
        derived values are used.
        
        In general, only --current-rel-(bg|fg)-color should be used to style 
        elements. */
    --current-rel-bg-color: var(--current-bg-color);
    --current-rel-fg-color: var(--current-fg-color);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: var(--black);
        --fg-color: var(--white);
    }
}
