ld-slide {
    &.exercises::before {
        position: absolute;
        top: var(--s-tb-padding);
        right: var(--s-lr-padding);

        display: block;

        content: var(--dhbw-symbol-sharp);

        transform-origin: top right;
        transform: scale(0.45);
    }

    &.new-section {
        align-content: center;

        &::after {
            position: absolute;
            top: var(--s-tb-padding);

            content: var(--author);

            font-size: calc(var(--current-base-font-size) / 2);
            font-variant: normal;
            font-weight: 200;

            color: var(--meta-color);
        }

        &::before {
            content: var(--dhbw-logo);

            position: absolute;
            top: var(--s-tb-padding);
            right: var(--s-lr-padding);
            transform-origin: top right;
            scale: 0.5;
        }

        > h2 {
            width: calc(100%+ var(--s-lr-padding));
            margin-left: calc(-1 * var(--s-lr-padding));
            border-radius: 0 calc(var(--s-border-radius) * 0.95)
                calc(var(--s-border-radius) * 0.95) 0;
            padding: calc(var(--s-tb-padding) * 2.5) var(--s-lr-padding);

            font-size: 2.25em;
            text-align: center;
        }
    }

    .section-subtitle {
        font-weight: 300;
        text-align: center;
        width: calc(100% + var(--s-lr-padding));
        margin-left: calc(-1 * var(--s-lr-padding));
        padding: 0.5em 0.8em 0.5em 1.6em;
        border-radius: 0 calc(var(--s-border-radius) * 0.95)
            calc(var(--s-border-radius) * 0.95) 0;

        --current-rel-bg-color: color-mix(
            in lch,
            var(--current-bg-color) 80%,
            var(--current-fg-color)
        );
        background-color: var(--current-rel-bg-color);
        --current-rel-fg-color: color-mix(
            in lch,
            var(--current-fg-color) 80%,
            var(--current-bg-color)
        );
        color: var(--current-rel-fg-color);
    }

    &.new-subsection {
        &::after {
            content: var(--dhbw-logo);
            position: absolute;
            top: var(--s-tb-padding);
            right: var(--s-lr-padding);
            transform-origin: top right;
            scale: 0.7;
        }
    }
}
