/*
Collects definitions of colors and the like to achieve a consistent layout.
*/


:root {
    /* Coporate design related colors. */
    --ld-dhbw-red: rgb(226, 0, 26);/* red used by the DHBW Logo */    
    --ld-dhbw-gray:  rgb(91,105,113);/* gray used by the text in the DHBW Logo */

    /* a blue that fits nicely to the previous colors*/
    --ld-the-blue: rgb(45, 62, 255);



    --ld-the-green: rgb(0, 88, 0);
    --ld-the-light-green: rgb(0, 88, 0, 0.1);
    --ld-red: rgb(131, 0, 0);
    --ld-red-background: rgb(131, 0, 0, 0.1);
}