:root {
    /*  48px to have roughly 16 lines of text on a slide with a height of 1200px. */
    font: 48px "Helvetica", sans-serif;
    line-height: 1.5;
}

.ld-slide {
    background-color: white;
    padding: 0.75rem;
    border-radius: 0.5rem;
}


/* The following really depends on the logo that you want to use. */
img.logo {
    position: absolute;
    bottom: 48px;
    right: 48px;
    scale: 1;
}

.footer-left {
    position: absolute;
    bottom: 48px;
}


/*
    Styling of section headers.

    A section header is a div with the class ".new-section"
*/

div.ld-slide.new-section>h2 {
    font-size: 2rem;
    font-variant: small-caps;
    text-align: center;
    margin-top: 4rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    border-radius: 0.5em;
    background-color: var(--ld-dhbw-gray);
    box-shadow: 4px 4px 8px black;
    color: white;
}

div.ld-slide.new-section>h2::after {
    content: "Prof. Dr. Michael Eichberg";
    display: block;
    position: absolute;
    font-variant: normal;
    font-size: 0.75rem;
    font-weight: 200;
    margin-top: 2.25rem;
    margin-left: 1rem;
    color: var(--ld-dhbw-gray);
}

div.ld-slide.new-section::after {
    content: url(../../../dhbw_logo.png);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

/*
    Let's add a nice animation when we reach the next "new-section" slide.
*/

#ld-main-pane .ld-slide.new-section[style*="scale: 1;"] {
    animation: blend-in 2s;
}

#ld-main-pane .ld-slide[style*="scale: 0"]:has(+.ld-slide.new-section[style*="scale: 1;"]) {
    animation: blend-out 2s;
}

@keyframes blend-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes blend-out {
    0% {
        opacity: 1;
        scale: 1; /* We have to reset the scale level to make a blending effect possible. */
    }

    99% { /*  */
        opacity: 0;
        scale: 1;
    }
    100% {
        scale: 0;
    }
}


div.ld-slide.new-subsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration-color: var(--ld-dhbw-gray);
    text-decoration-thickness: 6px;
}

div.ld-slide.new-subsection::after {
    content: url(../../../dhbw_logo.png);
    position: absolute;
    top: 0px;
    right: 0px;
    scale: 0.50;
    translate: 60px -25px;
}

div.ld-slide.new-subsection>h2 {
    width: 90%;
    font-size: 1.666rem;
    text-align: center;
    border: 1px solid var(--ld-dhbw-gray);
    background-color: whitesmoke;
    border-radius: 0.5em;
    box-shadow: 2px 2px gray;
    padding: 2rem 0.5rem 2rem 0.5rem;
    color: var(--ld-dhbw-gray);
}


/*
    Let's add a nice animation when we reach the next "new-subsection" slide.
*/

#ld-main-pane .ld-slide.new-subsection[style*="scale: 1;"] {
    animation: 2s slide-fade-in;
}

#ld-main-pane .ld-slide[style*="scale: 0"]:has(+.ld-slide.new-subsection[style*="scale: 1;"]) {
    animation: 2s slide-fade-out;
}

@keyframes slide-fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100;
    }
}

@keyframes slide-fade-out {
    0% {
        opacity: 1;
        scale: 1; /* We have to reset the scale level to make a blending effect possible. */
    }

    99% { /*  */
        opacity: 0;
        scale: 1;
    }
    100% {
        scale: 0;
    }
}



/*

We want to add a section number to each major section (a section is marked by a slide with the class .new-section.

*/

#ld-main-pane,
#ld-continuous-view-pane,
#ld-light-table-dialog {
    counter-reset: ld-section 0;
}

.ld-slide.new-section {
    counter-increment: ld-section;
}

.ld-slide.new-section h2::before {
    content: counter(ld-section)".";
    padding-right: 0.5em;
}



.ld-slide.center-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.integrated-exercise {
    background-color: var(--ld-dhbw-gray);
    color: whitesmoke;
}

.integrated-exercise h2:first-child {
    background-color: whitesmoke;
    color: var(--ld-dhbw-red);
    margin: -0.75rem -0.75rem 0.5rem -0.75rem;
    padding: 0.5rem 0.75rem 0.25rem 0.75rem;
}

.integrated-exercise::before {
    display: block;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    content: url(../../../dhbw_logo.png);
    transform: translateX(30%) translateY(-35%) scale(0.4); 
}

.integrated-exercise .conditions {
    font-size: smaller;
}

.integrated-exercise .task {
    font-size: smaller;
    border-radius: 0.4em;
    padding: 0.4em;
    margin: 0.4em 0 0.4em 0;
    background-color: var(--ld-dhbw-red);
    color: white;
    box-shadow: none;
}

/*
    Animations

    Recall that LectureDoc's mechanism to switch slides is to scale a slide 
    to 0 and to scale (both instanteously) the next slide to 1. Hence,
    it is often necessary to "reset" the scale level to make animations work.
*/

@keyframes scale-to-zero {
    100% {
        scale: 0;
    }
}

#ld-main-pane .ld-slide.transition-move-left.ld-current-slide {
    animation: 3s slide-move-left-in ;
}

#ld-main-pane .ld-slide.ld-previous-slide:has(+.ld-slide.transition-move-left.ld-current-slide) {
    animation: 3s slide-move-left-out, 0s 3s scale-to-zero;
}


@keyframes slide-move-left-in {
    0.1% { /* it works beautifully with 0.1% and awfully with 0%...*/
        translate: 100%;
        opacity: 0;
    }

    70% {
        opacity: 100%;
    }

    100% {
        translate: 0%;
    }
}

@keyframes slide-move-left-out {
    0% {
        scale: 1; /* reset the scale level to make the slide visible (again) */
        translate: 0%;
    }

    30% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 1;
        translate: -100%;
    }
}



#ld-main-pane .ld-slide.transition-scale-in.ld-current-slide {
    animation: 3s slide-scale-in;
}

#ld-main-pane .ld-slide.ld-previous-slide:has(+.ld-slide.transition-scale-in.ld-current-slide) {
    animation: 3s slide-scale-out;
}

@keyframes slide-scale-in {
    0.1% {
        opacity: 0;
        scale: 1.5;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

@keyframes slide-scale-out {
    0% {
        scale: 1; /* reset the scale level to make the slide visible (again) */
        opacity: 100%;
    }

    100% {
        opacity: 0%;
        scale: 0.5;
    }
}