/* LAYER: theme.ld */

.peripheral {
    color: var(--gray);
}

.obsolete {
    text-decoration: line-through;
}

.ger {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇩🇪 ";
        mix-blend-mode: luminosity;
    }
}

.eng {
    color: var(--dhbw-gray);
    font-style: italic;

    &::before {
        content: "🇺🇸 ";
        mix-blend-mode: luminosity;
    }
}


.transparent {
    background-color: transparent;
}

/*  Intended to be used with elements which define some kind of visual border
    and which contain floating elements which should not escape their parent 
    container.
 */
.encapsulate-floats::after {
    content: "";
    clear: both;
    display: table;
}
